PORT=3000
JWT_SECRET=your_super_secret

# Admin que se crea/actualiza automáticamente al arrancar
ADMIN_USERNAME=palavecino
ADMIN_PASSWORD=Alvarado2026!

# PostgreSQL (poner el connection string que da Render)
DATABASE_URL=postgresql://user:password@host:5432/database

FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Solo para el script de seed
SEEDS_DIR=seeds
SEED_DEFAULT_ENABLED=true
